.bg {
    background-image: url(./shared/images/bg-image.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    padding-bottom: 255px;
    max-width: 1920px;
    min-height: 640px;
    height: 100%;
    margin: auto;
    padding-left: 50px;
}